body {
  font-family: 'Raleway', sans-serif;
  background-color: #edefee;
  max-width: 100%;
  overflow-x:hidden;
  max-height: 100%;
  min-width: 485px;
  overflow-y:hidden;
  /* transition: all 0.3s ease-in-out; */
}

.first-page {
  /* background: url("assets/firstpage.jpg") no-repeat center fixed; */
  height: 100vh;
  width: 100vw;
}

#bigNavBar {
  /* background-color: #3ee899; */
  /* background: linear-gradient(to right,#5bd89e,#3ee899); */
  background: linear-gradient(to right,#354060,#2d3149);
  /* background: linear-gradient(to right,red,yellow); */
  min-height: 72px;
}

.right-nav {
  transition: all .2s ease-in-out;
}
.right-nav:hover {
  transform: scale(1.1);
}
.navbar-toggle {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #edefee;
  transition: all .2s ease-in-out;
}
.navbar-toggle:hover {
  transform: scale(1.1);
  /* transition: all .2s ease-in-out; */
  background-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.hs {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto auto;
  margin-top: 125px;
  border-style: solid;
  /* background: url('assets/IMG_0850.JPG') no-repeat; */
  /* border-style: none; */
  border-width: 2px;
  border-color: #2d3149;
}
.hs img {
  position:absolute;
  left:0;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}
.hs img.headshot:hover {
  opacity:0;
}

.headshot {
  display: block;
  margin: 0 auto;
  margin-left: -18%;
  height: 100%;
  width: auto;
  /* transition: all .3s ease-in-out; */
}
.headshot2 {
  display: block;
  margin: 0 auto;
  margin-left: -18%;
  height: 100%;
  width: auto;
  transition: all .3s ease-in-out;
}
/* .headshot2, .hs:hover .headshot {
  display: none;
  filter: brightness(90%);
}
.headshot, .hs:hover .headshot2 {
  display: block;
} */

.links {
  text-align: center;
  width: 250px;
  margin-top: 10px;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-width: 1.5px;
  transition: all .3s ease-in-out;
}
#resume {
  color: coral;
  transition: all .3s ease-in-out;
}
#git {
  color: #6e5494;
  transition: all .3s ease-in-out;
}
#linkedin {
  color: #0077b5;
  transition: all .3s ease-in-out;
}
#mail {
  color: #354060;
  transition: all .3s ease-in-out;
}
.ilink {
  margin: 15px 17px;
}
.ilink:hover {
  transform: scale(1.2);
  filter: brightness(85%);
  /* opacity: 0.75; */
}
.frontpage {
  position: relative;
  text-align: center;
  margin: auto auto;
  width: 50%;
  font-family: 'Rubik';
}

h2 {
  padding-bottom: 5px;
}

.cu {
  display: inline-block;
  /* width: 5px;
  height: 5px; */
}

#cs {
  margin-left: -22px;
  padding-right: 6px;
  color: slateblue;
}

#heart {
  margin-left: -22px;
  padding-left: 35px;
  padding-right: 8px;
  color: crimson;
}

#lm {
  color: #354060;
  margin-left: 14px;
  margin-right: 6px;
}
#net {
  color: #354060;
  margin-right: 6px;
  margin-left: -43px;
}
