html, body {
  height: 100%;
  transition: all .3s ease-in-out;
  /* overflow: hidden; */
  font-family: 'Roboto', sans-serif;

}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 10px;
  }
  h2 {
    font-size: 7.5px;
  }
  p {
    font-size: 5px;
  }
}

.navbar-toggler {
  border-width: 0px;
  background-color: white;
}
.navbar-toggler:hover {
  background-color: white !important;
  background-image: none !important;
}

#headshot {
  border-radius: 50%;
  border-width: 2px;
  border-color: black;
  border-style: inset;
}

#nav {
  margin-top: 30px;
  margin-bottom: 20px;
}

#hs {
  margin-top: 5px;
}

#lm {
  border-radius: 15%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icons {
  font-size: 20px;
  margin-left: 7px;
  margin-right: 7px;
}

#resume {
  color: coral;
  transition: all .3s ease-in-out;
}
#github {
  color: #6e5494;
  transition: all .3s ease-in-out;

}
#linkedin {
  color: #0077b5;
  transition: all .3s ease-in-out;

}
#email {
  color: #354060;
  transition: all .3s ease-in-out;
}
#skills {
  color: green;
  transition: all .3s ease-in-out;
}

.wrapdrop {
  padding: 15px;
  margin: auto auto;
  width: 33%;
  font-size: 24px;
  text-align: center;
}

i:hover {
  transform:scale(1.2);
  filter:brightness(85%);
}

.intro {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.stats {
  width: 40%;
  margin: auto auto;
}

p {
  font-size: 20px;
}

.links {
  color:#34495e;
}
